/* Global Style */
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

/* Global Styles */
body {
    background: #2B3A42;
}

.button:hover {
    background-color: #FF8F00;
    border-color: #FF8F00;
    color: #F0F0DF;
}

/* header */
.header {
    padding-top: 30px;
}

.header .title {
    color: #F0F0DF;
    font-size: 5rem;
    letter-spacing: 5px;
}

.header .subtitle {
    color: #FF8F00;
    font-size: 15px;
}

/* section yt-searh */
#yt-search {
    margin-bottom: 0;
    margin-top: -20px;
}

#yt-search .container div {
    width: 600px;
    margin: auto;
}

#yt-search .subtitle {
    color: #F0F0DF;
}

#yt-search .input {
    margin-top: -15px;
    display: inline-block;
    width: 80%;
}

#yt-search .button {
    margin-top: -15px;
}

/* section yt-player */
#yt-player {
    margin-top: -75px;
}

/* section yt-settings */
#yt-settings {
    margin: auto;
    margin-top: -90px;
    width: 50%;
    color: #F0F0DF;
}

#yt-settings .subtitle {
    color: #F0F0DF;
}

#yt-settings .columns {
    margin-top: -25px;
}

#yt-settings .container {
    width: 100%;
}


#yt-settings label {
    margin-right: 5px;
}

#yt-settings button.button {
    margin-top: 0px;
}

/* footer */
.footer {
    padding: 35px 0 35px 0;
    background: #3F5866;
}

.footer .container {
    min-height: calc(100vh - 70vh);
}

footer .subtitle {
    color: #F0F0DF;
}


@media only screen and (max-width: 768px) {
    #yt-search .container div {
        width: 100%;
        margin: auto;
    }

    #yt-search .input {
        margin-top: -15px;
        display: inline-block;
        width: 70%;
    }
}