/* Global Style */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
    height: 100vh;
    width: 100vw;
}

.start-div {
    float: right;
}

.length-div {
    float: left;
}

#yt-link {
    width: 350px;
}
#yt-player {
    margin: 10px 0 10px 0;
}

@media only screen and (max-width: 768px) {
    .start-div {
        float: left;
    } 
    .length-div {
        position: absolute;
    }
}